{% extends 'base.html' %}

{% block content %}
<div class="shadow p-4 bg-body rounded">
  <h1>Login</h1>  

  <form action="" method=POST class="m-1">
    {% csrf_token %}

    <div class="form-floating mb-3 mt-3">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Please enter your username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Please enter your password">
      <label for="floatingPassword">Password</label>
    </div>
    <br/>
    <div class="form-floating">
    <input type="submit" value="Submit" class="btn btn-secondary">
    </div>
  </form>
  <div class="form-floating mt-3">
    New to this site? <a href="{% url 'register' %}">Sign up</a> for an account.
  </div>
  
</div>
{% endblock %}