{% extends 'base.html' %}

{% block content %}
  {% if keyword %}
  <div class="alert alert-success" role="alert">
    <h3>Searching for: {{ keyword }}</h3>
  </div>
  
  {% endif %}
  {% if line_list %}
    <table class="table table-hover">
      <th scope="col">ID</th>
      <th scope="col">Gene symbol</th>
      <th scope="col">Effector</th>
      <th scope="col">Insertion site</th>
      <th scope="col">Insertion style</th>
      <th scope="col">Contributor</th>
      <th scope="col">Availability</th>
      {% if user.is_superuser or user.is_staff %}
        <th scope="col">Internal sharing only</th>
      {% endif %}
      <th scope="col">Citation</th>
      {% for line in line_list %}
        <tr>
          <td>SG{{ line.id }}</td>
          <td>{{ line.gene_name }}</td>
          <td>
            {{ line.effector_type }}
          </td>
          <td>
            {% if line.source_id %}
              {{ line.source_id }}
            {% else %}
              {% if line.ins_site is not None %}
                {{ line.ins_seqname }}:{{ line.ins_site }}
              {% else %}
                {{ line.ins_seqname }}
              {% endif %}
            {% endif %}
          </td>
          <td>{{ line.cassette }}</td>
          <td>
            <a href="mailto:{{ line.contact }}">
              {% if line.contributor %}
                {{ line.contributor }}
              {% else %}
                {{ line.contact }}
              {% endif %}
            </a>
          </td>
          <td>{{ line.get_status_display }}</td>
            {% if user.is_superuser or user.is_staff %}
              <td>
                {% if line.internal_sharing is True %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
            {% endif %}
          <td>{{ line.reference }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>No lines are available.</p>
  {% endif %}
{% endblock %}