{% extends 'base.html' %}

{% block content %}
<h3>Privacy policy and Contact</h3>

<h4>Who we are</h4>
<p>
The database (splitgal4.org) is coordinated by Yu-Chieh David Chen (ycc4[at]nyu.edu).

We are not experts in website technology nor in privacy law, so the following
description is to the best of our understanding of how this website is built and
our intentions. If you suspect your privacy is compromised while browsing,
please don't hesitate to contect Yen-Chung Chen (yenchung.chen[at]nyu.edu).

This website is built with <a href="https://www.djangoproject.com/">django (v4.2.3)</a>,
and the source code is available on
<a href="https://github.com/chenyenchung/splitgal4.org">GitHub</a>.
</p>

<h4>Collection of your personal information</h4>

<p>
The website does not identify you when you browse. If you sign up for an
account, your name, email, affiliation, and host lab will be recorded and
available to the administrator.
</p>

<h4>Sharing of your personal information</h4>

Your email and host lab will be associated with the line you shared with the
database.

This information will be available to the public for lines that are shared
publically; for the lines that are shared internally, this information will
be available to other contributors who have also shared lines to the database.

<h4>Usage of your personal information</h4>

The information will be only used for requesting and sharing of split-Gal4
lines.

{% endblock %}