{% extends 'base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Contributions</li>
    <li class="breadcrumb-item active" aria-current="page">{{ requested_user }}</li>
  </ol>
</nav>
<hr class="border border-3">

{% if user.username == requested_user %}
  <h2 class="mb-4">Hi, {{ user.first_name }} {{ user.last_name }}</h2>

  {% if keyword %}
  <div class="alert alert-success" role="alert">
    <h3>Searching for: {{ keyword }}</h3>
  </div>
  {% endif %}

  {% if line_list %}
    <table class="table table-hover mt-4">
    <th scope="col">SGID</th>
    <th scope="col">Gene symbol</th>
    <th scope="col">Effector</th>
    <th scope="col">Status</th>
    <th scope="col">Private</th>
    <th scope="col">Update</th>
    {% for line in line_list %}
      <tr>
        <td><a href="{% url 'details' line.id %}">
          SG{{ line.id }}
        </a></td>
        <td>{{ line.gene_name }}</td>
        <td>
          {{ line.effector_type }}
        </td>
        <td>{{ line.get_status_display }}</td>
        <td>
          {% if line.private %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
        <td>
          <form action="{% url 'update_line' line.id %}">
            <button type="submit" class="btn btn-outline-secondary">
              Update
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No lines are available.</p>
{% endif %}



{% else %}
<h3>
  Sorry, you may only view your own user page. If you are {{ requested_user }},
  please <a href="{% url 'login' %}">log in</a> to view this page.
</h3>
{% endif %}
{% endblock %}