{% extends 'base.html' %}
{% block content %}
<h2>{{ line.gene_name }}-{{ line.effector_type }}</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">SG{{ line.id }}</li>
  </ol>
</nav>
<hr class="border border-3">
<table class="table table-hover">
  <tr>
    <th scope="row">Insertion site</th>
    <td>
      {% if line.source_id %}
        {{ line.source_id }}
      {% else %}
        {% if line.ins_site is not None %}
          {{ line.ins_seqname }}:{{ line.ins_site }}
        {% else %}
          {{ line.ins_seqname }}
        {% endif %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row">Cassette style</th>
    <td>{{ line.cassette }}</td>
  </tr>
  <tr>
    <th scope="row">Citation</th>
    <td>{{ line.citation }}</td>
  </tr>

      
</table>
{% endblock %}