{% extends 'base.html' %}
{% block content %}
  {% if line_list %}
  
    <table class="table table-hover">
      <th scope="col">Gene symbol</th>
      <th scope="col">Effector</th>
      <th scope="col">MIMIC/CRIMIC #</th>
      <th scope="col">Chromosome</th>
      <th scope="col">Location</th>
      <th scope="col">Cassette</th>
      <th scope="col">Dimerization domain</th>
      <th scope="col">Status</th>
      <th scope="col">Private</th>
      <th scope="col">Contributor</th>
      <th scope="col">Citation</th>
      <th scope="col">Notes</th>
      {% for line in line_list %}
          <tr>
            {% for field in line %}
              <td>
               {{ field }}
              </td>
            {% endfor %}
          </tr>
      {% endfor %}
    </table>
  {% else %}
  No lines are available.
  {% endif %}

  <form action="" method=POST enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" name='confirm' value="Confirm" class="btn btn-secondary">  
  </form>
  
{% endblock %}
